*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dfdfdf;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -5;
}
header{
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}
.map_world{
    position: fixed;
    top: 2rem;
}
.imgWorld{
    z-index: 10;
    right: 0;
    width: 100%;
    aspect-ratio: 16/7;
}
.imgWorld path {
    stroke: black;
    stroke-width: 1px;
    fill: #ececec;
    transition: fill 0.2s;
}
.imgWorld path:hover{
    stroke-width: 2px;
    fill: #9e9999;
}
.tooltip{
    position: absolute;
}
.tooltip.is-active{
    width: 10rem;
    height: 10rem;
    z-index: 12;
}
.desc{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc h3 {
    background: #000;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #fff;
}
.tooltip.is-closed{
    z-index: 12;
    position: absolute;
    display: none;
}
.tooltip img:not(.imgWorld){
    width: 100%;
    margin: auto;
}
.containerDataCountry{
    position: absolute;
    height: 200px;
    width: 350px;
    top: 0.5rem;
    left: calc(100% - (350px + 0.5rem));
    display: flex;
    align-items: center;
}
.titleCountry.is-active {
    position: absolute;
    width: 20%;
    text-align: right;
}
.frame-flag.is-active{
    position: absolute;
    z-index: 25;
    right: 1rem;
    top: 1rem;
    width: 250px;
}
.frame-flag.is-closed, .titleCountry.is-closed{
    display: none;
}
.frame-flag img{
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.container__desc{
    height: 100%;
    width: 50%;
    text-align: right;
    text-transform: uppercase;
}
.container__name, .container__code{
    padding: 3rem;
    font-size: 2rem;
}
.container__img{
    width: 50%;
    margin-right: 1rem;
}
.container__img img{
    width: 100%;
}
.title-page-notfound{
    margin: 5rem;
    font-size: 5rem;
}
@media (min-width: 75rem) { 
    .imgWorld{
        top: -1rem;
    }
}
@media (min-width: 85rem) { 
    .imgWorld{
        top: 4rem;
    }
}
@media (min-width: 100rem) { 
    .imgWorld{
        top: 6rem;
    }
}