* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(169, 225, 249);
  overflow: hidden;
}
header {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}
main {
  width: 100%;
  height: 100vh;
}
.map_world {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
}
.imgWorld{
  position: fixed;
  z-index: 10;
  /* top: -2rem; */
  right: 0;
  width: 100%;
  aspect-ratio: 16/7;
}
.imgWorld path {
  stroke: black;
  stroke-width: 1px;
  fill: #ececec;
  transition: fill 0.2s;
}
.imgWorld path:hover{
  stroke-width: 2px;
  fill: #9e9999;
}

.tooltip {
  position: absolute;
  z-index: 10;
  width: 5rem;
  overflow: hidden;
}
.tooltip img {
  width: 100%;
  height: 100%;
}
.tooltip.is-hidden {
  display: none;
}
ul {
  display: flex;
  background-color: #fff;
}
.container__linkHome {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 11rem;
  height: 5rem;
  margin: 1rem;
  filter: url(#goo);
}
.container__linkHome svg {
  width: 11rem;
}
.container__linkHome a {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: #fff;
  height: 100%;
  width: 100%;
}
.container__linkHome a p {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.container__linkHome span{
  display: block;
  width: 1rem;
  height: 100%;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  background-color: #9e9999;
  transition: 0.7s cubic-bezier(.13,1.45,.64,1.56);
}
.container__linkHome:hover span{
  height: 120%;
  transition: 0.4s cubic-bezier(.13,1.45,.64,1.56);
}
.container__linkHome span:nth-child(1){
  transition-delay: 0.25s; 
  left: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}
.container__linkHome span:nth-child(2){
  transition-delay: 0.2s; 
  left: 1rem;
}
.container__linkHome span:nth-child(3){
  transition-delay: 0.15s; 
  left: 2rem;
}
.container__linkHome span:nth-child(4){
  transition-delay: 0.10s; 
  left: 3rem;
}
.container__linkHome span:nth-child(5){
  transition-delay: 0.05s; 
  left: 4rem;
}
.container__linkHome span:nth-child(6){
  transition-delay: 0s; 
  left: 5rem;
}
.container__linkHome span:nth-child(7){
  transition-delay: 0.05s; 
  left: 6rem;
}
.container__linkHome span:nth-child(8){
  transition-delay: 0.1s; 
  left: 7rem;
}
.container__linkHome span:nth-child(9){
  transition-delay: 0.15s; 
  left: 8rem;
}
.container__linkHome span:nth-child(10){
  transition-delay: 0.2s; 
  left: 9rem;
}
.container__linkHome span:nth-child(11){
  transition-delay: 0.25s; 
  left: 10rem;
  border-radius: 0 0.5rem 0.5rem 0;
}